<!DOCTYPE html>
<html lang="en">
<head>
    <title>UPDATE</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-section">
        <img src="../static/images/banner.jpg" alt="">
    </div>
    <div class="update-form">
        <h3>UPDATE FORM</h3>
        <form action="/update-form" method="post">
            <h5>Roll No:</h5><input type="number" name="_id" placeholder="ID">
            <h5>Field:</h5><select name="field">
                <option value="sname">Name</option>
                <option value="email">Email</option>
                <option value="phone">Mobile No</option>
                <option value="percentage">Percentage</option>
                <option value="srank">Rank</option>
                <option value="course">Course Interested</option>
                <option value="address">Address</option>
            </select>
            <h5>New Value:</h5><input type="text" name="new_value" placeholder="NEW DATA"><br><br>
            <input id="update-sub-btn" type="submit" value="UPDATE">
        </form>
    </div>
</body>
</html>